.container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.centerContainer{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.colorChange{
    background-image: conic-gradient(rgb(61, 165, 61), green);    
    width: 25%;
    width: 400px;
    color: white;
    border-radius: 16px;
    margin-right: -20px;
    z-index: 1;
    padding: 20px 40px 60px 40px;
}
.colorChangeRed{
    background-image: conic-gradient(rgb(214, 73, 73), rgb(195, 0, 0));    
    width: 400px;
    height: 200px;
    color: white;
    border-radius: 16px;
    margin-right: -20px;
    z-index: 1;
    padding: 20px 40px 60px 40px;
}

.cardValidator{
    width: 400px;
    height: 200px;
    background: conic-gradient(rgb(66, 65, 65),black);
    color: white;
    border-radius: 16px;
    margin-right: -20px;
    z-index: 1;
    padding: 20px 40px 60px 40px;
}

.form{
    width: 15%;
    border: 2.5px solid black;
    height: 40%;
    border-radius: 16px;
    padding: 50px 50px 120px 50px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    row-gap: 10%;
}

.form input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 15px 0 0 0;
    width: 100%;
}

.fullNameContain p, .inputField p, .expiryDate p, .formGroupCvv p{
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.inputFields, .expireForm, .rightDiv{
    display: flex;
}

.rightDiv{
    justify-content: space-between;
}
.formGroupCvv, .expireForm{
    height: 33px;
}
.expireForm span{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 95%;
    border-bottom: 2px solid black;
}

.expiryDate, .formGroupCvv{
    width: 100px;
}

.btn button{
    background-color: black;
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.cardPtag{
    display: grid;
    grid-template-columns: 50% 50%;
}

.cardPtag img{
    width: 70px;
    height: 70px;
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    padding-left: -50px;
}
.cardPtag p{
    text-align: left;
    display: flex;
    align-self: center;
}
.cardInput{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    letter-spacing: 5px;
}
.cardInput p{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
}

.cardCvvContain{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cardFullNamePtag{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
}
.cardExpiryDate, .cardCvv {
    width: 50%;
}
.cardExpiryDate p, .cardCvv p{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

